body{
    text-align:center;
    background-color: rgb(206, 113, 141);
    font-size: 25px;
  }  
  
  #album
  {
    height:450px;
    border-radius:30px;
  }
  button
  {
  background-color:#5e73b9;
    border-radius: 50px;
    font-size: 25px;
  }